.outline-button {
    color: #3A4D8F;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #3A4D8F;
    padding: 15px;
    background-color:white;
}

.primary-button {
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 5px;
    background-color: #03B4C6;
    padding: 15px;
}

.primary-light-button {
    color: #3A4D8F;
    font-size: 14px;
    border-redius: 3px;
    padding: 15px;
    background-color:white;
}

.secondary-button {
    color: #3A4D8F;
    font-size: 16px;
    border-redius: 5px;
    background-color: #3A4D8F;
    padding: 15px;
}
