.index {
  background-color: #FAFAFA;
  wedth: 1080px;
  height: 4018px;
}

.hero-image {
  backgroung-color: white;
  height: 450px;
  wedth: 1080px;
  margin-top: 111px;
}

.hero-content {
  backgroung-color: white;
  height: 380px;
  wedth: 1000px;
  margin-top: 27px;
  margin-left: 40px;
}

.content {
  backgroung-color: white;
  height: 320px;
  wedth: 480px;
  margin-top: 40px;
}

.kemononotudoi {
  height: 67px;
  wedth: 480px;
  margin-top: 9px;
}

.minecraft {
  height: 67px;
  wedth: 480px;
  margin-top: 1px;
}

.image-hero {
  wedth: 520px;
  height: 304px;
  margin-left: 480px;
  margin-top: 47px;
}
  
