.index {
  background-color: #FAFAFA;
  wedth: 1080px;
  height: 4018px;
}

.hero-image {
  position: absolute;
  backgroung-color: white;
  height: 450px;
  wedth: 1080px;
  top: 111px;
  left: 0px;
}

.hero-content {
  position: absolute;
  backgroung-color: white;
  height: 380px;
  wedth: 1000px;
  top: 138px;
  left: 40px;
}

.content {
  position: absolute;
  backgroung-color: white;
  height: 320px;
  wedth: 480px;
  top: 178px;
  left: 40px;
}

.kemononotudoi {
  position: absolute;
  height: 67px;
  wedth: 480px;
  top: 76px;
  left: 40px;
}

.minecraft {
  position: absolute;
  height: 67px;
  wedth: 480px;
  top: 143px;
  left: 40px;
}

.image-hero {
  position: absolute;
  wedth: 520px;
  height: 304px;
  left: 520px;
  top: 185px;
}
  
.ui-elements {
  position: absolute;
  wedth: 1000px;
  height: 514px;
  top: 617px;
  left: 40px;
}

.ui-elements-2 {
  wedth: 1000px;
  height: 514px;
  top: 1181px;
  margin-left: 40px;
}

.ui-elements-3 {
  wedth: 1000px;
  height: 514px;
  top: 1749px;
  margin-left: 40px;
}

.ui-elements-3 {
  wedth: 1000px;
  height: 514px;
  top: 2319px;
  margin-left: 40px;
}

.twitter {
  wedth: 441px;
  height: 602px;
  top: 2886px;
  margin-left: 57px;
}

.event {
  wedth: 441px;
  height: 602px;
  top: 2886px;
  left: 570px;
}

.haifu-flag {
  position: absolute;
  wedth: 80px;
  height: 80px;
  top: 654px;
  left: 57px;
}

.group-title {
  position: absolute;
  wedth: 867px;
  height: 62px;
  margin: 50px 5px 5px;
  left: 167px;
  top: 660px;
}

.group-text {
  position: absolute;
  wedth: 369px;
  height: 130px;
  top: 795px;
  left: 137px;
}

.group-button {
  position: absolute;
  wedth: 150px;
  height: 45px;
  top: 947px;
  left:356px;
}

.group-image {
  position: absolute;
  wedth: 460px;
  height: 319px;
  top: 734px;
  left: 551px;
}
