.index {
  background-color: #FAFAFA;
  wedth: 1080px;
  height: 4018px;
}

.hero-image {
  backgroung-color: white;
  height: 450px;
  wedth: 1080px;
  top: 111px;
}

.hero-content {
  backgroung-color: white;
  height: 380px;
  wedth: 1000px;
  top: 27px;
  margin-left: 40px;
}

.content {
  backgroung-color: white;
  height: 320px;
  wedth: 480px;
  top: 40px;
}

.kemononotudoi {
  height: 67px;
  wedth: 480px;
  top: 187px;
}

.minecraft {
  height: 67px;
  wedth: 480px;
  top: 254px;
}

.image-hero {
  wedth: 520px;
  height: 304px;
  left: 520px;
  top: 185px;
}
  
.ui-elements {
  wedth: 1000px;
  height:514px;
  top: 617px;
  margin-left: 40px;
}

.ui-elements-2 {
  wedth: 1000px;
  height:514px;
  top: 1181px;
  margin-left: 40px;
}

.ui-elements-3 {
  wedth: 1000px;
  height:514px;
  top: 1749px;
  margin-left: 40px;
}

.ui-elements-3 {
  wedth: 1000px;
  height:514px;
  top: 2319px;
  margin-left: 40px;
}

.twitter {
  wedth: 441px;
  height:602px;
  top: 2886px;
  margin-left: 57px;
}

.event {
  wedth: 441px;
  height:602px;
  top: 2886px;
  left: 570px;
}

.haifu-flag {
  position: absolute;
  wedth: 80px;
  height: 80px;
  top: 654px;
  left: 57px;
}

.group-title {
  position: absolute;
  wedth: 867px;
  height: 62px;
  margin: 50px 5px 5px;
  left: 167px;
  top: 667px;
}

.group-text {
  position: absolute;
  wedth:369px;
  height:130px;
  margin: 61px 44px 22px 97px;
  top: 795px;
  left: 137px;
}

.group-button {
  position: absolute;
  wedth:150px;
  height:45px;
  margin-right: 45px;
  margin-bottom: 138px;
  margin-left: 316px;
  top: 947px;
  left:356px;
}
